[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = {git = "https://github.com/pallets/flask.git", ref = "d08d96acbcabcde23307ed060f71f95ba9cb7b8d"}
sqlalchemy = "*"
voluptuous = "*"
pyyaml = "*"
pyjwt = "*"
lazy-object-proxy = "*"


[dev-packages]

ipython = "*"
invoke = "*"
pytest = "*"
"flake8" = "*"
